@charset "utf-8";
/* FROM NOW START MY CSS */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
	text-decoration: none;
	color: inherit;
}

cf::after, cf::before{
	content: ' ';
	display: table;
	clear: both;
}

a:hover{
	text-decoration: none;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.spacing{
	padding-top: 30px;
	padding-bottom: 30px;
}

ul.categories_list{
	list-style-type: none;
	background: #f2f2f2;
}

ul.categories_list li.li_header{
	background: #505050;
	color: #fff;
	border-bottom: 5px solid #808080;
	font-weight: bold;
	padding: 14px 10px;
	font-size: 18px;
}

ul.categories_list li{
	border-bottom: 1px dotted #979797;
	padding: 12px 20px;
}

.product{
	border: 1px solid #000000;
	width: 30%;
	text-align: center;
	padding: 20px;
}

.product h2{
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	color: #202020;
	line-height: 23px;
}

.product p{
	font-family: Arial;
	font-weight: 400;
	font-size: 12px;
	color: #797979;
	line-height: 14px;
}

.product h3{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #202020;
	line-height: 21px;
}

.btn-default{
	background: #72B62F;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 18px;
	text-shadow: 1px 1px 0px #417505;
	padding: 8px 10px;
	border: none;
}